@import 'quasar/src/css/variables.sass';

:root {
  --default-red: #f65866;
  --default-orange: #dd9046;
  --default-green: #8bcd5b;
  --default-teal: #4db5bd;
  --default-yellow: #ecbe7b;
  --default-blue: #41a7fc;
  --default-dark-blue: #1c4a6e;
  --default-magenta: #ca9ee6;
  --default-violet: #9356e8;
  --default-cyan: #34bfd0;
  --default-dark-cyan: #5699af;
  --default-white: #f8f9fc;
}

:root {
  // Colors
  --red: var(--default-red);
  --orange: var(--default-orange);
  --green: var(--default-green);
  --teal: var(--default-teal);
  --yellow: var(--default-yellow);
  --blue: var(--default-blue);
  --dark-blue: dark-var(--default-blue);
  --magenta: var(--default-magenta);
  --violet: var(--default-violet);
  --cyan: var(--default-cyan);
  --dark-cyan: dark-var(--default-cyan);
  --white: var(--default-white);
}

@include dark-mode {
  --default-bg: #22272e;
  --default-bg-secondary: var(--q-dark);
  --default-bg-elevated: var(--q-dark);
  --default-bg-muted: color-mix(in srgb, #22272e, var(--q-dark) 35%);
  --default-bg-hover: rgba(99, 110, 123, 0.4);
  --default-fg: #adbac7;
  --default-fg-secondary: #adbac7;
  --default-fg-muted: #{$grey-6};

  --violet: #b98df6;

  // Tab overview for dark theme
  --tab-preview-overlay-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  --tab-preview-text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);

  --uploader-overlay-bg: rgba(0, 0, 0, 0.7);
}

@include light-mode {
  --default-bg: #ffffff;
  --default-bg-secondary: #ffffff;
  --default-bg-muted: #fafbfc;
  --default-bg-hover: #eff1f3;
  --default-bg-elevated: #fafbfc;
  --default-fg: #34495e;
  --default-fg-secondary: #34495e;
  --default-fg-muted: #{$grey-5};

  // Tab overview for light theme
  --tab-preview-overlay-bg: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  --tab-preview-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

  --uploader-overlay-bg: rgba(255, 255, 255, 0.7);
}

body {
  --bg: var(--default-bg);
  --bg-secondary: var(--default-bg-secondary);
  --bg-elevated: var(--default-bg-elevated);
  --bg-muted: var(--default-bg-muted);
  --bg-hover: var(--default-bg-hover);
  --fg: var(--default-fg);
  --fg-muted: var(--default-fg-muted);
  --accent: var(--violet);
}
