name: CD orgnote client (dev)

on:
  push:
    branches:
      - dev

env:
  API_URL: ${{ vars.API_URL }}

jobs:
  install_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/bun.lockb') }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

  lint:
    name: Run linters
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/bun.lockb') }}
      - name: Run linters
        run: node --max-old-space-size=8192 node_modules/.bin/eslint -c ./eslint.config.js "./src*/**/*.{ts,js,cjs,mjs,vue}"

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/bun.lockb') }}
      - name: Create dummy certs for Quasar config
        run: |
          mkdir -p .certs
          openssl req -x509 -newkey rsa:2048 -keyout .certs/key.pem -out .certs/cert.pem -days 1 -nodes -subj "/CN=localhost"
      - name: Prepare Quasar
        run: bunx quasar prepare
      - name: Run tests
        run: bun run test:ci

  push_client_image_dev:
    name: Push dev client image
    runs-on: ubuntu-latest
    needs: [tests, lint]
    environment: dev
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install dependencies
        run: |
          bun install --frozen-lockfile
          bun add global @quasar/cli
      - name: Init environment
        run: |
          cat <<EOT > .env.prod
          DEBUG=true
          API_URL=${{ secrets.API_URL }}
          AUTH_URL=${{ secrets.AUTH_URL }}
          EOT
      - name: Build ssr
        run: bun run build -m ssr
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Override capacitor dependency
        uses: sergeysova/jq-action@v2
        with:
          cmd: 'jq ''. + {overrides: {"capacitor-folder-picker": {"@capacitor/core": "6.1.0"}}}'' ./dist/ssr/package.json > ./dist/ssr/tmp.json && mv -f ./dist/ssr/tmp.json ./dist/ssr/package.json'
          multiline: true
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.ssr
          push: true
          tags: orgnote/client:dev

  trigger_backend_dev:
    runs-on: ubuntu-latest
    needs: [push_client_image_dev]
    steps:
      - name: Trigger backend dev deployment
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: token ${{ secrets.PAT }}" \
          https://api.github.com/repos/artawower/orgnote-backend/dispatches \
          -d '{"event_type":"trigger-deploy-dev"}'
