name: CD orgnote client (prod)

on:
  push:
    branches:
      - master

jobs:
  ci-cd:
    uses: ./.github/workflows/ci.yaml
    with:
      environment: deploy
      image_tag: latest
      trigger_event: trigger-deploy-repo-workflow
    secrets: inherit
